In [2]:
import cassandra

In [11]:
from cassandra.cluster import Cluster
try:
    cluster = Cluster(['127.0.0.1'])
    session = cluster.connect()
except Exception as e:
    print(e)

In [15]:
try:
    session.execute("""select * from tutorial.posts""")
except Exception as e:
    print(e)

### Keyspace (schema) creation

In [16]:
try:
    session.execute("""
        CREATE KEYSPACE IF NOT EXISTS udacity
        WITH REPLICATION = 
        {'class': 'SimpleStrategy', 'replication_factor': 1}
    """)
except Exception as e:
    print(e)

In [17]:
try:
    session.set_keyspace('udacity')
except Exception as e:
    print(e)

### Table creation

In [18]:
query = 'CREATE TABLE IF NOT EXISTS music_library '
query += '(year int, artist_name text, album_name text, PRIMARY KEY (year, artist_name))'
try:
    session.execute(query)
except Exception as e:
    print(e)

In [27]:
query = 'SELECT count(*) from music_library'
try:
    count = session.execute(query)
except Exception as e:
    print(e)

print(count.one())

Error from server: code=2200 [Invalid query] message="table music_library does not exist"
Row(count=2)

### Inserts

In [22]:
query = 'INSERT INTO music_library (year, artist_name, album_name) '
query += 'VALUES (%s, %s, %s)'
try:
    session.execute(query, (1970, 'Beatles', 'Let It Be'))
except Exception as e:
    print(e)
    
try:
    session.execute(query, (1965, 'Beatles', 'Rubber Soul'))
except Exception as e:
    print(e)

In [24]:
query = 'SELECT * from music_library'
try:
    rows = session.execute(query)
except Exception as e:
    print(e)

for row in rows:
    print(row.year, '-->', row.artist_name,'-',row.album_name)

1965 --> Beatles - Rubber Soul
1970 --> Beatles - Let It Be

### Query

In [25]:
query = 'SELECT * from music_library WHERE year = 1970'
try:
    rows = session.execute(query)
except Exception as e:
    print(e)
    
for row in rows:
    print(row.year, '-->', row.artist_name,'-',row.album_name)

1970 --> Beatles - Let It Be

### Drop table

In [26]:
query = 'DROP TABLE music_library'
try:
    session.execute(query)
except Exception as e:
    print(e)

In [28]:
session.shutdown()
cluster.shutdown()