In [1]:
import cassandra

In [2]:
from cassandra.cluster import Cluster
try: 
    cluster = Cluster(['127.0.0.1']) #If you have a locally installed Apache Cassandra instance
    session = cluster.connect()
except Exception as e:
    print(e)

In [3]:
## Create the keyspace
try:
    session.execute("""
    CREATE KEYSPACE IF NOT EXISTS udacity 
    WITH REPLICATION = 
    { 'class' : 'SimpleStrategy', 'replication_factor' : 1 }"""
)

except Exception as e:
    print(e)

In [4]:
## Add in the keyspace you created
try:
    session.set_keyspace('udacity')
except Exception as e:
    print(e)

In [23]:
## Create table
query = "CREATE TABLE IF NOT EXISTS song_library "
query = query + "(song_title text, artist_name text, year int, album_name text, single boolean, PRIMARY KEY (year, artist_name))"
try:
    session.execute(query)
except Exception as e:
    print(e)

In [24]:
## Add in query and then run the insert statement
query = "INSERT INTO song_library (year, album_name, artist_name, song_title, single)" 
query = query + " VALUES (%s, %s, %s, %s, %s)"

try:
    session.execute(query, (1970, "Let It Be", "The Beatles", "Across The Universe", False))
except Exception as e:
    print(e)
try:
    session.execute(query, (1965, "Rubber Soul", "The Beatles", "Think For Yourself", False))
except Exception as e:
    print(e)

In [27]:
## Run the select statement to validate the data was inserted into the table
query = 'SELECT * FROM song_library'
try:
    rows = session.execute(query)
except Exception as e:
    print(e)
    
for row in rows:
    print (row.year, '-', row.song_title, '-', row.album_name, '-', row.artist_name)

1965 - Think For Yourself - Rubber Soul - The Beatles
1970 - Across The Universe - Let It Be - The Beatles

In [29]:
## Run the query 
query = "select * from song_library WHERE year=1970 AND artist_name='The Beatles'"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)
    
for row in rows:
    print (row.year, row.album_name, row.artist_name)

1970 Let It Be The Beatles

In [22]:
query = 'DROP TABLE song_library'
try:
    session.execute(query)
except Exception as e:
    print(e)

In [30]:
session.shutdown()
cluster.shutdown()